:root {
    --line-color : #444;
}


.ProgressBar {
    @include after-mobile {
        background: var(--breadcrumbs-background);
        min-height: var(--breadcrumbs-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }

    &-Container {
        width: 100%;

        &:last-of-type {
            .ProgressBar {
                &-Value {
                    display: none;
                }
                &-Step {
                    display: none;
                }
                &-Line {
        margin-top: -10px;

                }
            }
        }
    }

    &-LineAndValue {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98%;
    }

    &-Line {
        width: 70%;
        height: 3px;
        background-color: var(--line-color);
        flex: 3;

        &_isActive {
            background-color: var(--primary-base-color);
        }
    }

    &-Value {
        background-color: var(--primary-base-color);
        border: 1px solid;
        padding: 5px 7px;
        border-radius: 50%;
        margin-top: 10px;
        text-align: center;
        color: var(--correct-icon-color);
        margin-left: 10px;
        width: 30px;
        height: 40px;
        font-size: 18px;
    }

    &-Step {
        float: right;
        text-transform: capitalize;
    }
}